@import './globals.scss';

/* TODO: refactor styles */

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 3px;
}

.box {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 3px;
  background-color: $green;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  margin: 0.25rem;
}

.button {
  border-radius: 3px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.lose-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.lose-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  padding: 2.5rem;
  background-color: $red;
  border-radius: 3px;
  border: 6px solid $white;
  width: 30rem;
}

.high-score-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;

  input {
    padding: 2rem;
    border-radius: 5px;
    font-family: '8BIT WONDER', sans-serif;
    background-color: $black;
    color: $white;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    width: calc(100% - 4rem);
  }
}

.image {
  height: inherit;
  width: inherit;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 3rem;
  height: 3rem;
  padding: 0.125rem;
}

.ArrowUp {
  visibility: visible;
  transform: rotate(180deg);
}

.ArrowRight {
  visibility: visible;
  transform: rotate(-90deg);
}

.ArrowDown {
  visibility: visible;
}

.ArrowLeft {
  visibility: visible;
  transform: rotate(90deg);
}

.show-current-food {
  visibility: visible;
}

.next-food {
  font-size: 1.5rem;
}

.show-next-food {
  visibility: visible;
}

.body {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-circle {
  background-color: $white;
  border-radius: 50%;
  width: 65%;
  height: 65%;
}

.side-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 30%;
}

.high-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 1rem 0;

    thead {
      td {
        text-decoration: underline;
      }
    }

    td {
      text-align: center;
    }
  }
}

.maximum-speed {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $red;

  span {
    font-size: 2rem;
    height: 3rem;
  }
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.75s;
}
